<div class="about row">
  <img src="../img/filming2.jpg" alt="">
<div class="col-sm-8 col-sm-offset-2">
  <h1 class="text-center">About</h1>
  <p>Educate and Empower Kids is a non-profit dedicated to encouraging youth to
    develop healthy and fulfilling relationships through love, communication,
    education and empowerment.</p>

    <p>The Empower Challenge is a scholarship competition for students 12 through
      college age. The goal is to create a short video in line with one of the 5 topics.</p>

  <p>
    The five topics are:
    <ol>
      <li>Sex talks gone wrong</li>
      <li>How media images affect kids’ daily lives</li>
      <li>What makes a strong family?</li>
      <li>What are the benefits of disconnecting online to connect in real life?</li>
      <li>The negative consequences of porn</li>
    </ol>
  </p>

  <p>We are looking for creative videos that encompass the chosen topic. You have
    creative license. Does animation interest you? Feel free to use it in your video.
    Have fun with this. We want to see your personality come through on your video.
    Be creative. We want to be inspired, and we want your video to inspire others.
    Just keep your submission 30 seconds - 2 minutes, and make sure it’s in good taste.</p>

    <p>The top 10 finalists will be announced January 1, 2016. Online voting will then
      commence and end on January 15, 2016. The Grand Prize Winner will be announced on
      January 16, 2016.</p>
  <div class="text-center aboutReady">
    <h2>Ready to submit your film?</h2>
    <button type="button" class="btn btn-danger btn-lg">SIGN-UP</button>
  </div>
  </div>
</div>
