<div>
  <img class="heroImage" src="../img/teens_hero.jpg" alt="Teen girl holding books while friends in the background are out of focus">
</div>
<div class="fill"></div>
<div class="row homeRedDiagonal">
  <h2 class="text-center">WIN A SCHOLARSHIP for school</h2>
  <div class="col-md-6"><img class="text-center" src="../img/angleVideo.png" alt="An iphone filming a mom and daughter together"></div>
  <div class="col-md-4">
  <p>Educate and Empower Kids is offering a scholarship to high school and college students.</p>

  <p>The Empower Challenge is a scholarship competition designed to encourage youth
    to devolve healthy and fulfilling relationships.</p>
  </div>
</div>
<div class="row homeLeaderboards">
  <h2 class="text-center">LEADERBOARDS</h2>
  <div class="col-sm-12 text-center">
    <p>Hey! Leaderboards are coming Soon! <br> Try Brushing up on the 30 Days of Sex Talks for inpsiration in the meantime</p>
    <button type="button" class="btn btn-danger btn-lg">BUY</button>
  </div>
</div>
<div class="row homeYellowDiagonal">
  <h2 class="text-center">CONNECT &amp; Share</h2>
  <div class="col-md-3 text-center"><i class="fa fa-facebook-square"></i></div>
  <div class="col-md-3 text-center"><i class="fa fa-twitter-square"></i></div>
  <div class="col-md-3 text-center"><i class="fa fa-instagram"></i></div>
  <div class="col-md-3 text-center"><i class="fa fa-pinterest-square"></i></div>
</div>
<div class="fill2"></div>
