<div class="row">
  <img src="../img/resources.jpg">
  <h1 class="text-center">Resources</h1>

  <div class="col-sm-4 col-sm-offset-2">
    <p>
      Looking for some help? Check out the resources below:

      <div>
        <a href="http://educateempowerkids.org">Educate and Empower Kids</a>
      </div>
      <div>
        <a href="https://www.commonsensemedia.org">Common Sense Media</a>
      </div>
      <div>
        <a href="http://www.internetsafety101.org/pornographystatistics.htm">Pornography Statistics</a>
      </div>
    </p>
  </div>
  <div class="col-sm-4">
    <img src="../img/leaning.jpg" alt="">
  </div>
</div>
