<div class="uploadForm"><h1>Upload Form</h1>
<!--TODO create service-->

<form action="/v1/video" method="post" enctype="multipart/form-data">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" ng-model="uploadVideoForm.firstName">

  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" ng-model="uploadVideoForm.lastName">

  <label for="email">Email:</label>
  <input type="email" name="email" ng-model="uploadVideoForm.email">

  <label for="vidUpload">Video Upload:</label>
  <input type="file" name="file">

  <input type="submit">

</form>
{{allVids}}

</div>
