<div><h1>Upload Form</h1>
<!--TODO create service-->
<form action="/v1/video" enctype="multipart/form-data" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName">

  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName">

  <label for="email">email:</label>
  <input type="email" name="email">

  <label for="vidUpload">Video Upload:</label>
  <input type="file" name="vidUpload">

  <input type="submit">

</form>
{{allVids}}

</div>
