<footer>

  <div class="row">
    <div class="col-md-2 text-center"><a href="#/about">About</a></div>
    <div class="col-md-2 text-center"><a href="#/contact">Contact Us</a></div>
    <div class="col-md-2 text-center"><a href="#/resources">Resources</a></div>
    <div class="col-md-2 text-center"><a href="http://educateempowerkids.org">Educate and Empower</a></div>
    <div class="col-md-2 text-center"><a href="https://www.facebook.com/educateempowerkids">Facebook</a></div>
    <div class="col-md-2 text-center"><a href="https://twitter.com/EduEmpowerKids">Twitter</a></div>
  </div>
  <div class="row">
    <p class="text-center">&copy; Copyright 2015 Educate and Empower Kids</p>
  </div>
</footer>
