<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-inner">
            <div class="nav-center">
              <a class="navbar-brand topnav mobileLogo visible-xs-* hidden-sm hidden-md hidden-lg" href="#/"><img src="../../img/EmpowerLogo.svg" alt="Empower Logo logo"></a>
            </div>
        </div>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/apply">APPLY</a>
                </li>
                <li>
                    <a href="#/about">ABOUT</a>
                </li>
                <a class="navbar-brand topnav hidden-xs" href="#/"><img src="../../img/EmpowerLogo.svg" alt="Empower Logo logo"></a>
                <li>
                    <a href="#/leaderboards">LEADERBOARDS</a>
                </li>
                <li>
                    <a href="#/faq">FAQ</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="nav-offset"></div>
