@import "../scssimports/mixins.scss";
@import "../scssimports/variables.scss";

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6.3em;
  min-height: 100%;
}
h2 {
  font-size: 1.6em;
}
h1 {
  font-size: 2.2em;
}
.btn-danger {
  background-color: $primary-red;
}
.header-img {
  position: relative;
  max-width: 100%;
  border-radius: 0px 0px 8px 8px;
}
//-------------- NAV BAR -----------------\\
.navbar-brand img {
  height: 150px;
  margin-top: -5px;

}
.collapse.navbar-collapse {
  padding-left: 23%;
}
.nav.navbar-nav {
  font-family: 'bebasregular';
  font-size: 1.5em;

  li {
    margin: 0px 0px;
  }
}
.navbar.navbar-default {
  border-bottom: 3px solid $primary-yellow;
}
.nav-offset {
  margin-top: 53px;
}
.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}
.mobileLogo img {
  position: absolute;
  left: 36%;
  height: 100px;
}
// .navbar-header {
//   margin-bottom: 50px;
// }
//-------------- FOOTER -----------------\\
footer {
  font-size: 1.1em;
  background-color: #333;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1.2em;
  a {
    color: #fff;
  }
  p {
    padding-top: 20px;
    font-size: 0.9em;
    color: #999;
  }
}

//-------------- HOMEPAGE -----------------\\
.homeForm {
  position: absolute;
  top: 00%;
  left: 70%;
  width: 25%;
  .homeLabel {
    color: #fff;
  }
  h1 {
    font-size: 1.4em;
    color: $primary-yellow;
  }
}
button a {
  color: #fff;
}

.heroImage {
  width: 100%;

}
.homeRedDiagonal {
  overflow: hidden;
  position: relative;
  background-color: $primary-red;
  z-index: -10;
  margin-top: -30px;
  transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -webkit-transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -moz-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -o-transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
  -ms-transform:  rotate(358deg) scale(1) skew(-2deg) translate(0px);
  p {
    font-size: 1.2em;
  }
  h2,p {
    color: #fff;
  }
  img {
    display:block;
    margin:auto;
    margin-bottom: -9px;
    float: right;
  }
  h2,p,img {
    transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
    -o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
  }
}
.fill {
  position: relative;
  z-index: -11;
  background-color: $primary-red;
  height: 50px;
  width: 100%;
}
.fill2 {
  position: relative;
  z-index: -11;
  background-color: $primary-yellow;
  height: 50px;
  width: 100%;
}
h1,h2 {
  font-family: 'bebasregular';
}

.homeYellowDiagonal {
  background-color: $primary-yellow;
  margin-bottom: -30px;
  transform:  rotate(-358deg) scale(1) skew(2deg) translate(0px);
  -webkit-transform:  rotate(-358deg) scale(1) skew(2deg) translate(0px);
  -moz-transform: rotate(-358deg) scale(1) skew(2deg) translate(0px);
  -o-transform:  rotate(-358deg) scale(1) skew(2deg) translate(0px);
  -ms-transform:  rotate(-358deg) scale(1) skew(2deg) translate(0px);
  .fa {
    font-size: 4em;
    padding: 50px 0px;

  }
  .hashtag {
    margin-top: -40px;
    font-size: 1.7em;
  }
  .adjust{
    transform:  rotate(-2deg) scale(1) skew(-1deg) translate(0px);
    -webkit-transform:  rotate(-2deg) scale(1) skew(-1deg) translate(0px);
    -moz-transform: rotate(-2deg) scale(1) skew(-1deg) translate(0px);
    -o-transform:  rotate(-2deg) scale(1) skew(-1deg) translate(0px);
    -ms-transform:  rotate(-2deg) scale(1) skew(-1deg) translate(0px);
    margin-bottom: 200px;
  }
}
.homeLeaderboards {
  margin: 50px 0px;
  p {
    font-size: 1.2em;
  }
}

.transition{
  @include transition(all, .6s, ease);
}

//-------------- FAQ -----------------\\
.QandA {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 3em;
  li {
    position: relative;
    padding-bottom: 4px;
    padding-top: 18px;
    h2 {
      font-size: 26px;
      display: block;
      margin: 0;
      padding: 6px;
      color: $primary-red;
      cursor: pointer;
    }
    i {
      position: absolute;
      margin-top: 15px;
      right: 0;
      &:before, &:after {
        content: "";
        @extend .transition;
        position: absolute;
        background-color: #333;
        width: 3px;
        height: 9px;
      }
      &:before {
        @include translateAndRotate(-4px, 0px, -45);
      }
      &:after {
        @include translateAndRotate(0px, 0px, 45);
      }
    }
    .base {
      font-size: 17px;
      line-height: 1px;
      position: relative;
      opacity: 0;
      margin-top: 0px;
      color: #333;
      background-color: #fff;
      padding: 0px 15px;
      @include roundedBottom();
    }
    .base.ans{
      @extend .transition;
    }
    .showAns {
      p{
      margin-top: 0px;
      line-height: 20px;
      opacity: 1;
      padding: 15px 15px;
      }
      i {
        position: absolute;
        margin-top: 15px;
        right: 0;
        &:before, &:after {
          content: "";
          @extend .transition;
          position: absolute;
        }
        &:before {
          @include translateAndRotate(0px, 0px, -45);
        }
        &:after {
          @include translateAndRotate(-4px, 0px, 45);
        }
      }
    }
  }
}
//-------------- ABOUT -----------------\\
.about {
  p,li {
    font-size: 1.2em
  }
  .aboutReady {
    margin: 50px 0px;
  }

}
//-------------- APPLY -----------------\\
.help-block {
  font-style: oblique;
  font-size: .875em;

}
form {
  margin-bottom: 30px;
}
.fa-spinner {
  font-size: 2em;
  margin: 0px 15px;
}
